{% extends 'base.html' %}
  {% block content %}
    <head>
      <title>Contact Me</title>
    </head>
    <main id="about">
      <h1 class="lg-heading">Contact <span class="text-secondary">Me</span></h1>
      <h2 class="sm-heading">
        REACH ME FROM HERE.
      </h2>
      <div class="boxes">
        <div>
          <span class="text-secondary">
            Email :
          </span>
          eexzon1@gmail.com
        </div>
        <div>
          <span class="text-secondary">
            Phone :
          </span>
          +91-8097821662
        </div>
        <div>
          <span class="text-secondary">
            Address :
          </span>
          Vashi Navi Mumbai-400703.
        </div>
      </div>
    </main>
    <footer id="main-footer">
      Copyright &copy; 2019, Yash Patel
    </footer>
  
  {% endblock %}